:root {
  // Colours
  --c-white: #fff;
  --c-green: #478175;
  --c-blue: #497c8f;
  --c-red: #be2041;
  --c-black: #000000;
  --c-gray: #686868;
  --c-light-gray: #ececec;

  --c-divider: #dedede;

  // Fonts
  --f-12: 1.2rem;
  --f-16: 1.6rem;
  --f-18: 1.8rem;
  --f-20: 2rem;
  --f-22: 2.2rem;
  --f-26: 2.6rem;
  --f-30: 3rem;
  --f-50: 5rem;
  --f-70: 7rem;
  --font-weight-600: 600;
  --font-weight-700: 700;

  /* Box model */
  --spacing-0: 0;
  --spacing-05: 0.5rem;
  --spacing-1: 1rem;
  --spacing-2: 2rem;
  --spacing-3: 3rem;
  --spacing-4: 4rem;
  --spacing-5: 5rem;
}
