@import "../base";
.banner {
  grid-column: main-start / main-end;
  grid-template-rows: repeat(12, 1fr);
  height: 35rem;
  background-image: url("../assets/images/banner-1.jpg");
  background-size: cover;

  .title {
    grid-column: content-start / 14;
    grid-row: 3 / span 3;
    background-color: var(--c-blue);
    color: var(--c-white);
    padding: 0 2rem;
    overflow: hidden;

    @media screen and (min-width: $bp-small) {
      grid-column: content-start / 11;
    }

    @media screen and (min-width: $bp-large) {
      grid-column: content-start / 9;
    }
  }

  .description {
    line-height: 2rem;
    grid-column: content-start / 14;
    grid-row: 7 / span 3;
    background-color: var(--c-white);
    padding: 0 2rem;
    color: var(--c-green);
    font-size: var(--f-12);
    overflow: hidden;

    @media screen and (min-width: $bp-small) {
      grid-column: content-start / 10;
    }

    @media screen and (min-width: $bp-large) {
      grid-column: content-start / 7;
      font-size: var(--f-18);
    }
  }

  .cta {
    grid-column: content-start / 14;
    grid-row: 11 / 12;

    @media screen and (min-width: $bp-small) {
      grid-column: content-start / 7;
    }
    @media screen and (min-width: $bp-medium) {
      grid-column: content-start / 6;
    }
  }
}
.info {
  grid-column: main-start / main-end;
  min-height: 25rem;

  @media screen and (min-width: $bp-medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  img {
    width: 100%;
    height: 100%;

    @media screen and (min-width: $bp-large) {
      max-height: 30rem;
    }
  }

  .text {
    color: var(--c-white);
    background-color: var(--c-green);
    padding: 3rem 5rem;

    @media screen and (min-width: $bp-medium) {
      padding: 3rem;
    }
  }
}
.help {
  min-height: 25rem;
  grid-column: main-start / main-end;
  background-color: var(--c-light-gray);
  color: var(--c-black);

  p {
    font-size: var(--f-16);

    @media screen and (min-width: $bp-medium) {
      font-size: var(--f-18);
    }
  }

  .info-panel {
    background-color: var(--c-white);
    padding: 3rem 0;
    font-size: var(--f-30);
    flex-direction: column;

    @media screen and (min-width: $bp-medium) {
      flex-direction: row;
    }

    select {
      cursor: pointer;
      font-size: var(--f-30);
      margin: 0 1rem;
      border: none;
      color: var(--c-blue);
    }
  }
}
.what-we-do {
  min-height: 44rem;
  grid-column: main-start / main-end;
  background-color: var(--c-blue);
  color: var(--c-white);

  .cards {
    grid-template-columns: 1fr;
    column-gap: 2rem;

    @media screen and (min-width: $bp-medium) {
      grid-template-columns: repeat(4, 1fr);
    }

    .card {
      height: 20rem;
      align-items: center;
      color: var(--c-black);
      background-color: var(--c-white);
      margin-block-end: var(--spacing-1);

      @media screen and (min-width: $bp-medium) {
        margin-block-end: var(--spacing-0);
      }
    }
  }
}
